.login-container {
    margin: auto;
    width: 600px;
    padding-top: 100px;

    input {
        border-bottom-color: black;
    } 
    .login-btn {
        display: flex;
        flex-direction: row;
        justify-content: space-between
    }
}

.product-container {
    width: max-content;
    max-width: 50%;
    margin: auto;
}

// .radio-group {
//     display: flex;
// }

.product-action{
    display: flex;
    justify-content: space-evenly;
}

.secondary-content {
    margin-top: 10px;
}

.header{
    display: flex;
    justify-content: space-between;
}

.card-image {
    img {
        width: 250px !important;
        height: 276px
    }
}


.image-preview{
  img {
    height: 80px;
    width: 80px;
  }
}

.image-container{
    display: flex;
    justify-content: space-between;
}